@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

header>a>span{
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
}
a{
    text-decoration: none;
    color: white;
}

#soluwin_color{
    color: rgb(216, 18, 24);
    font-family: 'Anton', sans-serif;
}
/* #index_content{
    font-size: 1px;
} */
#soluwin_font{
    font-family: 'Anton', sans-serif;
}
#btn_font{
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}
#nav{
display: flex;
background-color: grey;
flex-direction: row;
text-decoration: none;
font-size: 12px;
color: white;
}

#content_lead{
    font-family: 'Black Han Sans', sans-serif;
}

#ceo_talk{
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}
#rows_contents{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts{
    background-color: rgb(0, 153, 176);
    color: white;
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    height: 200px;
}
#contacts2{
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    height: 200px;
    background-image: url("images/wall2.jpg");
    background-size: cover; /* 이미지를 커버하도록 확대/축소 */
}

footer{
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: aliceblue;
    height: 200px;
}

#main_box{
    background-image: url("images/wall.png");
    background-size: cover; /* 이미지를 커버하도록 확대/축소 */
}
#sub_box1{
    background-image: url("images/wall.png");
    background-size: cover; /* 이미지를 커버하도록 확대/축소 */
}

@media screen and (max-width: 420px) {
    header>a>span{
        font-size: 11px;
    }
    footer{
        font-size: 11px;
    }
    #index_content{
        color:rgb(109, 110, 113);;
    }

    #contacts{
        height: 100px;
        margin-bottom: auto;
    }
    #contacts2{
        height: 100px;
    }
}

